.module__banner_hero {
  textarea {
    min-height: 100px !important;
  }
  .bannerHero-subModule {
    clear: both;
  }
  .module__element.image__row.js-module {
    margin-bottom: 30px;
    border: 1px #383838 solid;
    padding: 10px;
    width: 98%;
  }
  .input__wrapper {
    position: relative;
  }
  .module__element_half {
    padding: 0 15px 0 0;
  }
  [id^="banner_hero_start_date_"],
  [id^="banner_hero_end_date_"] {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 0 15px;
  }
}
