@import "../variables.scss";
body {
  .chill-btn {
    background-color: $base-color;
    color: $base-color-txt;
    margin: 5px 5px 0 0;
    padding: 0 10px;
    height: 35px;
    line-height: 12px;
    font-size: 15px;
    font-weight: 600;
    border: 0;
    border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $base-color;
    &:focus {
      background-color: $base-color;
      outline: none;
    }
    &:hover {
      background-color: $base-color-mark;
    }
    &.chill-btn-invisible {
      display: none;
    }
  }
  .chill-btn-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .module .chill-btn-container {
    margin-bottom: 15px;
  }
}
