@import "../../../chill/variables.scss";
.module {
  &.sticky {
    margin-top: 55px;
    .chill-btn-container {
      position: fixed;
      top: 52px;
      z-index: 20;
      background: #029dd1;
      left: 88px;
      padding: 0 5px 5px 5px;
      width: calc(100% - 88px);
      min-height: 45px;
      height: 45px;
      overflow: hidden;
      &:hover {
        height: auto;
      }
      .module__title {
        display: flex;
        padding-right: 10px;
        height: 35px;
        align-items: center;
        margin: 5px 0 0 0;
      }
    }
    &.sticky-last-element {
      .notice-message {
        position: fixed;
        top: 92px;
        z-index: 999;
        left: 88px;
        width: calc(100% - 88px) !important;
      }
    }
  }
}
.chill-generator-synopsis-btn.synopsis-btn-mark {
  background-color: $base-color-mark !important;
  &::after {
    box-shadow: $base-color-mark -7px 0px 16px inset;
  }
}
