@import "../../chill/variables.scss";
body {
  [id^="notice-"] > span::after {
    content: " 'Alt + click' to copy";
    color: $base-color-mark;
    border-bottom: $base-color-mark 1px solid;
    opacity: 0.4;
  }
  input.chill-copied {
    outline: $base-color 3px solid !important;
  }
}
