.chill-syntax-hl-container {
  border: 2px solid #ddd;
  padding: 10px;
  resize: vertical;
  width: 90%;
  overflow-y: scroll;
  height: 300px;
  background-color: #fff;
  white-space: pre;
  display: none;
}
.module__terms_and_condition .chill-syntax-hl-container {
  white-space: initial;
  height: 150px;
}
// .oryginal-code-input {
//   display: none;
// }
