$base-color: #2b8554;
$base-color-mark: #39ae6e;
$base-color-warn: #ff5e00;
$base-color-txt: #fff;
$base-color-bg: #41362f;

$nn-red: "#ff444f";
$nn-black: "#383838";
$nn-gray: "#707070";
$nn-white: "#ffffff";

$dm-contrast: #4f74a9;
$dm-contrast-lt: #6a9be0;
$dm-contrast-warn: #fe823a;
$dm-contrast-bg: #13001c;
$dm-contrast-txt: #f6fcbf;
