$base-color: #00eeb2;
$base-color-mark: #00ad82;
$base-color-txt: #333;

$nn-red: "#ff444f";
$nn-black: "#383838";
$nn-gray: "#707070";
$nn-white: "#ffffff";

$dm-contrast: #530379;
$dm-contrast-lt: #9d00e7;
$dm-contrast-bg: #13001c;
$dm-contrast-txt: #f6fcbf;
