.module__banner_hero:not(.bannerHero-show-hidden-elements) {
  .module__content.module__form {
    .input-to-hide,
    .image__header > :nth-child(3) {
      display: none !important;
    }
  }
}

.module__banner_hero:not(.bannerHero-show-hidden-elements)
  .chill-btn-container
  button:nth-child(4) {
  font-size: 0;
  &::before {
    content: "Show Hidden Elements";
    font-size: initial;
  }
}
