.module__menu:not(.menu-show-subcategories) .js-subcategory {
  height: 77px;
  overflow: hidden;
}
.module__menu:not(.menu-show-subcategories)
  .chill-btn-container
  button:nth-child(6) {
  font-size: 0;
  &::before {
    content: "Show Subcategories";
    font-size: initial;
  }
}
