@import "../../../chill/variables.scss";

.chill-gids-input {
  background-color: $base-color;
  height: 35px;
  font-weight: 600;
  line-height: 12px !important;
  font-size: 15px !important;
  color: $base-color-txt !important;
  margin: 0 5px 0 0;
  padding: 8px;
  border-width: 0px;
  border: 3px solid $base-color;
  border-image: initial;
  border-radius: 3px;
  width: 200px;
  resize: none;
  white-space: nowrap;
  overflow: hidden;
  &::placeholder {
    color: $base-color-txt !important;
  }
  &:hover {
    background-color: #eee;
    border-color: $base-color-mark;
    color: $base-color-txt !important;
    &::placeholder {
      color: $base-color-txt !important;
    }
  }
}
