@import "./chill/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=New+Rocker&display=swap");

body {
  .sticky-header {
    top: 58px;
  }
  .btn_remove-file,
  .menu__btn_remove-category,
  .menu__btn_remove-filter,
  .menu__btn_remove-group,
  .menu__btn_remove-subcategory,
  .menu__btn_remove-subcomponent {
    transform: translateY(-50%) rotate(0deg);
    width: 37px;
    height: 32px;
    border-radius: inherit;
    background-color: #ff2300;
    right: 1px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 !important;
    text-align: center;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    > i {
      display: none;
    }
    &::after {
      content: "x";
    }
    &:hover {
      background-color: #a61700;
      transform: translateY(-50%) rotate(0deg);
    }
  }

  .menu__btn_remove-subcomponent.js-remove-category-component {
    top: 40%;
  }
  #lpGenerator {
    background: honeydew;
    textarea {
      max-width: 90%;
    }
  }
  .module {
    .input__textarea_small,
    [id^="terms_and_condition_content_"],
    [id^="terms_and_condition_extended_terms_content_"] {
      height: 150px;
    }
  }
  &.chill-is-working::before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999999999999;
    background-color: $base-color-mark;
    opacity: 0.5;
  }
  #lpModules > :nth-child(even) .module__bar {
    background-color: #00b7ff;
  }
  .page-actions._fixed {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  // "do not forget" inputs
  .module__banner_hero
    .module__content.module__form
    > div:nth-of-type(7)
    > div.input__wrapper,
  .module__banner_hero .module__content.module__form > div:nth-of-type(8) > div,
  [id^="products_new_promotion_id_"],
  [id^="banner_hero_promo_code_"] {
    outline: 2px solid $base-color-mark;
  }

  // terms and coditions
  [id^="terms_and_condition_content_"],
  [id^="terms_and_condition_extended_terms_content_"] {
    height: 100px;
  }
  .btn_save,
  .module__button_find {
    margin-right: 16px !important;
  }
  &#html-body button[data-index="save"] {
    display: block;
  }
  .menu__btn_remove-category:hover {
    transform: translateY(-50%);
  }
  .menu__btn_remove-category {
    top: 52%;
  }
}
