@import "../../../chill/variables.scss";

body .scroll-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9;
  padding: 20px;
  text-decoration: none;
  width: auto;
  height: auto;
  color: $base-color-txt;
  &:hover {
    text-decoration: none;
    color: $base-color-txt;
  }
  &:focus {
    padding: 20px;
    width: auto;
    height: auto;
  }
}
