.top-bar-added {
  #back,
  #delete,
  #clone,
  #preview,
  button[data-index="save"] {
    display: none;
  }
  #lpModules + .block.block_buttons {
    display: none;
  }
  #lpGenerator > :first-child {
    display: none;
  }
  .page-main-actions .page-actions._fixed .page-actions-inner::before {
    font-size: 1.8rem;
    max-width: 30%;
  }
  #lpModules {
    margin-bottom: 0;
  }
}
.page-actions-buttons .chill-btn-container {
  .change-module-order-alter-txt {
    font-size: 0;
    &::before {
      content: "Wróć do widoku edycji modułów";
      font-size: 1.6rem;
    }
  }
}
.btn_toggle,
.chill-generator-synopsis {
  &.hidden {
    display: none;
  }
}
