body {
  &.top-bar-added {
    .page-main-actions .chill-btn-container {
      height: 40px;
      overflow: auto;
      margin-top: -6px;
      &:hover {
        height: auto;
      }
    }
    #back,
    #delete,
    #clone,
    #preview,
    button[data-index="save"] {
      display: none;
    }
    #lpModules + .block.block_buttons {
      display: none;
    }
    #lpGenerator > :first-child {
      display: none;
    }

    .page-main-actions .page-actions._fixed .page-actions-inner::before {
      font-size: 2.5rem;
      width: calc(100vw - 1100px);
      height: 43px;
      top: 0;
      left: 30px;
      line-height: 43px;
      position: absolute;
      margin: 0;
      white-space: nowrap;
    }
    #lpModules {
      margin-bottom: 0;
    }
  }
  &.chill-dark-mode {
    .page-actions-buttons .chill-btn-container {
      & > :first-child {
        font-size: 0;
        &::before {
          font-size: 1.6rem;
          content: "DM: tak";
        }
      }
    }
  }
  &.module-order-change-mode {
    .page-actions-buttons .chill-btn-container {
      & > :nth-child(2) {
        font-size: 0;
        &::before {
          content: "Wróć do edycji modułów";
          font-size: 1.6rem;
        }
      }
    }
  }

  .btn_toggle,
  .chill-generator-synopsis {
    &.hidden {
      display: none;
    }
  }
  &[class*="chill-syntax-highlight"] {
    .page-actions-buttons .chill-btn-container {
      & > :nth-child(9) {
        font-size: 0;
        &::before {
          font-size: 1.6rem;
        }
      }
    }
  }
  &.chill-syntax-highlight-0 {
    .chill-syntax-hl-container {
      display: none;
    }
    .oryginal-code-input {
      display: block;
    }
    .page-actions-buttons .chill-btn-container {
      & > :nth-child(9) {
        &::before {
          content: "Kolorowa skłania: nie";
        }
      }
    }
  }
  &.chill-syntax-highlight-1 {
    .chill-syntax-hl-container {
      display: block;
    }
    .oryginal-code-input {
      display: none;
    }
    .page-actions-buttons .chill-btn-container {
      & > :nth-child(9) {
        &::before {
          content: "Kolorowa skłania: tak";
        }
      }
    }
  }
  &.chill-syntax-highlight-2 {
    .chill-syntax-hl-container {
      display: block;
    }
    .oryginal-code-input {
      display: block;
    }
    .page-actions-buttons .chill-btn-container {
      & > :nth-child(9) {
        &::before {
          content: "Kolorowa skłania: tester";
        }
      }
    }
  }
}
