@import "../../chill/variables.scss";
.chill-ch-loaded {
  .data-grid-cell-content {
    position: relative;
    &::after {
      position: absolute;
      content: "'Alt + click' to copy";
      display: none;
      font-size: 10px;
      border-bottom: $base-color-mark 1px solid;
      opacity: 0.4;
    }
    &:hover {
      &::after {
        display: block;
      }
    }
  }
}
